// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.title{
	background-color: $primary-color;
	text-decoration: underline;
	color: $secundary-color;
}
